In [3]:
import findspark
findspark.init()

In [2]:
# !pip install findspark

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as f

In [20]:
# !hdfs dfs -mkdir -p data
!hdfs dfs -ls ./data
# !hdfs dfs -copyFromLocal ./2019-08-22.txt data/

Found 3 items
-rw-r--r--   1 ubuntu hadoop  120913920 2024-03-17 11:56 data/2019-08-22.txt
-rw-r--r--   1 hdfs   hadoop 3136657969 2024-03-17 09:44 data/2022-11-04.txt
-rw-r--r--   1 ubuntu hadoop    1510880 2024-03-17 09:31 data/BankChurners.csv

In [19]:
# !sudo su - hdfs bash -c 'hadoop distcp -D fs.s3a.bucket.kotov-bucket.endpoint=storage.yandexcloud.net -D fs.s3a.bucket.kotov-bucket.access.key=YCAJEfDXPWo6l2xnR6xWL7CfG -D fs.s3a.bucket.kotov-bucket.secret.key=YCNhUWUIQsB83OnZMCHfgAWgQRPMXYD0gujwcPEJ -update -skipcrccheck -numListstatusThreads 10 s3a://kotov-bucket/* hdfs://rc1a-dataproc-m-t91lul43oqg5twp9.mdb.yandexcloud.net/user/ubuntu/data'

In [6]:
spark = SparkSession\
    .builder\
    .master("local[*]")\
    .appName("dz3")\
    .getOrCreate()

In [7]:
raw = spark\
    .read\
    .option("header", "true")\
    .option("inferSchema", "true")\
    .csv("data/BankChurners.csv")

In [8]:
raw.describe().show()

+-------+-------------------+-----------------+-----------------+------+------------------+---------------+--------------+---------------+-------------+------------------+------------------------+----------------------+---------------------+-----------------+-------------------+-----------------+--------------------+-----------------+-----------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|summary|          CLIENTNUM|   Attrition_Flag|     Customer_Age|Gender|   Dependent_count|Education_Level|Marital_Status|Income_Category|Card_Category|    Months_on_book|Total_Relationship_Count|Months_Inactive_12_mon|Contacts_Count_12_mon|     Credit_Limit|Total_Revolving_Bal|  Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|  Total_Trans_Amt|   Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2|
+-------+-------------------+-----------------+-----------------+------+------------------+---------------+--------------+---------------+-------------+------------------+------------------------+----------------------+---------------------+-----------------+-------------------+-----------------+--------------------+-----------------+-----------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|  count|              10127|            10127|            10127| 10127|             10127|          10127|         10127|          10127|        10127|             10127|                   10127|                 10127|                10127|            10127|              10127|            10127|               10127|            10127|            10127|              10127|                10127|                                                                                                                             10127|                                                                                                                             10127|
|   mean|7.391776063336625E8|             null|46.32596030413745|  null|2.3462032191172115|           null|          null|           null|         null|35.928409203120374|      3.8125802310654686|    2.3411671768539546|   2.4553174681544387|8631.953698034848| 1162.8140614199665|7469.139636614887|  0.7599406536980376|4404.086303939963|64.85869457884863| 0.7122223758269962|   0.2748935518909845|                                                                                                                0.1599974639787803|                                                                                                                0.8400025708403275|
| stddev|3.690378345023116E7|             null|8.016814032549046|  null|  1.29890834890379|           null|          null|           null|         null|  7.98641633087208|        1.55440786533883|    1.0106223994182844|   1.1062251426359249|9088.776650223148|  814.9873352357533|9090.685323679114|  0.2192067692307027|3397.129253557085|23.47257044923301|0.23808609133294137|  0.27569146925238736|                                                                                                               0.36530101238046947|                                                                                                               0.36530103711017936|
|    min|          708082083|Attrited Customer|               26|     F|                 0|        College|      Divorced|        $120K +|         Blue|                13|                       1|                     0|                    0|           1438.3|                  0|              3.0|                 0.0|              510|               10|                0.0|                  0.0|                                                                                                                         7.6642E-6|                                                                                                                         4.1998E-4|
|    max|          828343083|Existing Customer|               73|     M|                 5|        Unknown|       Unknown|        Unknown|       Silver|                56|                       6|                     6|                    6|          34516.0|               2517|          34516.0|               3.397|            18484|              139|              3.714|                0.999|                                                                                                                           0.99958|                                                                                                                           0.99999|
+-------+-------------------+-----------------+-----------------+------+------------------+---------------+--------------+---------------+-------------+------------------+------------------------+----------------------+---------------------+-----------------+-------------------+-----------------+--------------------+-----------------+-----------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+

In [7]:
# !pip install pyspark-pandas

In [8]:
# import pyspark.pandas as ps
# from pyspark.sql import SparkSession

In [8]:
!which python

/opt/conda/bin/python

In [8]:
!which pyspark

/usr/bin/pyspark

In [9]:
!ls /usr/bin/pyspark

/usr/bin/pyspark

In [10]:
!echo $PATH

/opt/yandex-cloud/bin:/opt/conda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin

In [23]:
!export PATH=/usr/bin/pyspark:$PATH
# !export PATH=/opt/conda/bin/python:$PATH

In [11]:
!export PYSPARK_DRIVER_PYTHON=python # Do not set in cluster modes.
!export PYSPARK_PYTHON=/opt/conda/bin/python

In [ ]:
--conf spark.yarn.appMasterEnv.PYSPARK_PYTHON=<python3_path>
--conf spark.yarn.appMasterEnv.PYSPARK_DRIVER_PYTHON=<python3_path>

In [ ]:
SPARK_HOME = '/usr/bin/pyspark'
!export PYTHONPATH=$(ZIPS=("$SPARK_HOME"/python/lib/.zip); IFS=:; echo "${ZIPS[]}"):$PYTHONPATH

## ====================

In [25]:
with open("2019-08-22.txt") as f:
    for i in range(5):
        print(f.readline())

# tranaction_id | tx_datetime | customer_id | terminal_id | tx_amount | tx_time_seconds | tx_time_days | tx_fraud | tx_fraud_scenario

0,2019-08-22 06:51:03,0,711,70.91,24663,0,0,0

1,2019-08-22 05:10:37,0,0,90.55,18637,0,0,0

2,2019-08-22 19:05:33,0,753,35.38,68733,0,0,0

3,2019-08-22 07:21:33,0,0,80.41,26493,0,0,0

In [31]:
df = spark\
    .read\
    .option("header", "true")\
    .option("inferSchema", "true")\
    .option("delimiter", ",")\
    .text("data/2019-08-22.txt")

In [32]:
df.describe().show()

+-------+--------------------+
|summary|               value|
+-------+--------------------+
|  count|             2143898|
|   mean|                 2.0|
| stddev|                 NaN|
|    min|# tranaction_id |...|
|    max|999999,2019-08-22...|
+-------+--------------------+

In [12]:
# columns = df.columns
# columnsLen = len(columns)
# colsToDrop = columns[0].split() + columns[-2:]


# df.show(5, False)

In [11]:
# print(df.collect()[1])

In [14]:
df.select("tx_datetime").show()

AnalysisException: cannot resolve '`tx_datetime`' given input columns: [# tranaction_id | tx_datetime | customer_id | terminal_id | tx_amount | tx_time_seconds | tx_time_days | tx_fraud | tx_fraud_scenario];;
'Project ['tx_datetime]
+- Relation[# tranaction_id | tx_datetime | customer_id | terminal_id | tx_amount | tx_time_seconds | tx_time_days | tx_fraud | tx_fraud_scenario#1445] csv